td
{
    font-size: 14pt;
    text-align: center;
    background-color: red;
    color: black;
}

.first
{
    font-size: 11pt;
    background-color: yellow;
    text-align: center;
    font-style: bold;
}

.second
{
    font-size: 11pt;
    text-align: center;
    background-color: green;
}